/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",'Courier New', Courier, monospace;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #2869d2;
}

.wrapper{
  width: 450px;
  overflow: hidden;
  padding: 28px;
  border-radius: 9px;
  background: #b2ccee;
  box-shadow: 0 10px 25px rgba(23, 63, 81, 0.305);
}

.wrapper .field{
  height: 65px;
  width: 100%;
  position: relative;
}

.field input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 1.3rem;
  border-radius: 6px;
  border: 1px solid #eacfcf;
}

.field input:focus{
  padding: 0 14px;
  border: 2px solid #2869d2;
}

.field i{
  right: 18px;
  top: 50%;
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}

.wrapper .content{
  margin: 20px 0 10px;
}

.content p {
  color: #f12b2b;
  font-size: 1.3rem;
}

.content .req-list{
  margin-top: 20px;
}

.req-list li{
  font-size: 1.3rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.req-list li i {
  width: 20px;
  font-size: 0.6rem;
  color: #aaa;
}

.req-list li.valid li{
  font-size: 1.2rem;
  color: #4285F4;
}

.req-list li.valid span{
  color: #999;
}

@media screen and (max-width: 500px) {
  body, .wrapper{
    padding: 15px;
  }

  .wrapper .field{
    height: 55px;
  }

  .field input, .content p{
    font-size: 1.15rem;
  }

  .field i, .req-list li{
    font-size: 1.1rem;
  }

  .req-list li span{
    margin-left: 7px;
  }
}

button{
  appearance: button;
  width: 250px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}